@model IEnumerable<Books>
@{
   ViewBag.Title = "Library";
    var books = ViewBag.Books;
}

<div class="container">
<h2>Library</h2>

<form method="post" action="@Url.Action("Borrow")">
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Select a book:")
        @Html.DropDownList("bookId",(SelectList)ViewBag.Books,"-- Select Book --", new { @class = "form-control w-50" })
    </div>

    <button type="submit" class="btn btn-primary mt-2">Borrow</button>
</form>

@if(!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

@* <h3>Books:</h3> 
 <ul>
    @foreach (var book in books)
    {
        <li>@book.Name (Copies: @book.NumOfCopies)</li>
       
    }
</ul>
 *@

</div>